@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  font-size: 24px;
}

button:active,
button:focus {
  outline: none;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: #000000;
  color: aliceblue;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 330px;
  height: auto;
  padding: 0 10px;
  margin-bottom: 5rem;
}

div.logo img {
  width: 100%;
}

h1.logo-title {
  text-transform: uppercase;
  background: linear-gradient(
    0deg,
    #936d2e 1.37%,
    #f2cd74 49.34%,
    #936d2e 99.26%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.7rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.16rem;
  letter-spacing: 0.25px;
}

h2.title {
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #b28d45;
}

p.subtitle {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #bd974c;
  margin-top: 11px;
  text-align: center;
}

form.write-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3.75rem;
}

form.write-us input {
  border: none;
  outline: none;
  background: transparent;
  height: 54px;
  max-width: 320px;
  padding: 13px 0px;
  padding-right: 29px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  position: relative;
  border-bottom: 2px solid #bd974c;
}

form.write-us input::placeholder {
  color: #ffffff;
}

form.write-us button {
  border: none;
  outline: none;
  border: 2px solid #bd974c;
  background: transparent;
  margin-left: 27px;
  height: 54px;
  width: 187px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  cursor: pointer;
  color: #ffffff;
  transition: background 0.3s ease-in-out;
}

form.write-us button:hover {
  background: #bd974c;
}

form.write-us button:active {
  background: #bd974c;
}

div.links-wrapper {
  margin-top: 6.2rem;
}

div.links-wrapper a {
  padding: 0 25px;
  text-decoration: none;
}

div.animation {
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#scene-up-1 {
  position: absolute;
  left: -25%;
  top: -5%;
}
#scene-up-2 {
  position: absolute;
  left: -25%;
  top: -5%;
}
#scene-down-1 {
  position: absolute;
  right: -40%;
  bottom: -15%;
}
#scene-down-2 {
  position: absolute;
  right: -40%;
  bottom: -15%;
}

.animated-logo {
  width: 100%;
  height: auto;
  opacity: 1;
}

@media (max-width: 1400px) {
  :root {
    font-size: 20px;
  }
}

@media (max-width: 1300px) {
  #scene-up-1 {
    position: absolute;
    left: -35%;
    top: -10%;
  }
  #scene-up-2 {
    position: absolute;
    left: -35%;
    top: -10%;
  }
  #scene-down-1 {
    position: absolute;
    right: -40%;
    bottom: -25%;
  }
  #scene-down-2 {
    position: absolute;
    right: -40%;
    bottom: -25%;
  }
}

@media (max-width: 1000px) {
  .animated-logo {
    width: 80%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 18px;
  }
  .animated-logo {
    width: 100%;
  }
  form.write-us {
    flex-direction: column;
  }
  form.write-us button {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
  #scene-up-1 {
    position: absolute;
    left: -35%;
    top: -5%;
  }
  #scene-up-2 {
    position: absolute;
    left: -35%;
    top: -5%;
  }
  #scene-down-1 {
    position: absolute;
    right: -40%;
    bottom: -5%;
  }
  #scene-down-2 {
    position: absolute;
    right: -40%;
    bottom: -5%;
  }
}

@media (max-width: 580px) {
  :root {
    font-size: 16px;
  }
  form.write-us input {
    font-size: 18px;
    height: 40px;
  }
  form.write-us button {
    font-size: 18px;
    height: 40px;
  }
  div.logo img {
    width: 80%;
  }
  h2.title {
    margin-top: 0rem;
  }
  div.links-wrapper {
    margin-bottom: -1rem;
  }
  #scene-up-1 {
    position: absolute;
    left: -35%;
    top: -5%;
  }
  #scene-up-2 {
    position: absolute;
    left: -35%;
    top: -5%;
  }
  #scene-down-1 {
    position: absolute;
    right: -40%;
    bottom: 0%;
  }
  #scene-down-2 {
    position: absolute;
    right: -40%;
    bottom: 0%;
  }
}

@media (max-width: 480px) {
  h2.title {
    font-size: 3rem;
  }

  div.links-wrapper a {
    padding: 0 20px;
  }
  div.links-wrapper a img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  div.logo img {
    width: 70%;
  }
}

@media (max-width: 370px) {
  h2.title {
    font-size: 2.5rem;
  }
  p.subtitle {
    font-size: 0.75rem;
  }
}
