@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

:root {
  font-size: 24px;
}

body {
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  background-color: #000000;
  color: aliceblue;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

div.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1.logo-title {
  text-transform: uppercase;
  background: linear-gradient(
    0deg,
    #936d2e 1.37%,
    #f2cd74 49.34%,
    #936d2e 99.26%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.7rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.16rem;
  letter-spacing: 0.25px;
}

h2.title {
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 4.75rem;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #b28d45;
}

p.subtitle {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #bd974c;
  margin-top: 11px;
  text-align: center;
}

form.write-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3.75rem;
}

form.write-us input {
  border: none;
  outline: none;
  background: #ffffff;
  border-radius: 10px;
  height: 54px;
  max-width: 400px;
  padding: 13px 29px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #919191;
}

form.write-us button {
  border: none;
  outline: none;
  background: #b28d45;
  border-radius: 10px;
  margin-left: 27px;
  height: 54px;
  width: 187px;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  color: #ffffff;
  cursor: pointer;
}

div.links-wrapper {
  margin-top: 6.2rem;
}

div.links-wrapper a {
  padding: 0 25px;
  text-decoration: none;
}

div.animation {
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

#scene-top-right {
  position: absolute;
  right: -30%;
  bottom: -5%;
}
#scene-top-left {
  position: absolute;
  left: -26%;
  bottom: -4%;
}
#scene-bottom-left {
  position: absolute;
  left: -15%;
  bottom: -50%;
}
#scene-bottom-center {
  position: absolute;
  left: 50%;
  bottom: -66%;
  transform: translateX(-50%);
  margin: 0 auto;
}
#scene-bottom-right {
  position: absolute;
  right: -15%;
  bottom: -50%;
}

.animated-logo {
  height: auto;
  opacity: 1;
}
.animated-logo.small {
  width: 36em;
}
.animated-logo.big {
  width: 27em;
}

@media (max-width: 1400px) {
  :root {
    font-size: 20px;
  }
  #scene-bottom-center {
    bottom: -50%;
  }
  #scene-top-left {
    left: -32%;
  }
}
@media (max-width: 1000px) {
  #scene-top-left {
    left: -50%;
  }
  #scene-top-right {
    right: -45%;
  }
  #scene-bottom-left {
    left: -27%;
    bottom: -54%;
  }
  #scene-bottom-center {
    bottom: -55%;
  }
  #scene-bottom-right {
    right: -27%;
    bottom: -54%;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 18px;
  }
  .animated-logo.small {
    width: 32rem;
  }
  .animated-logo.big {
    width: 26rem;
  }
  #scene-top-left {
    left: -55%;
    bottom: 0%;
  }
  #scene-top-right {
    right: -55%;
    bottom: 0%;
  }
  #scene-bottom-center {
    bottom: -49%;
  }
  #scene-bottom-left {
    left: -34%;
    bottom: -44%;
  }
  #scene-bottom-right {
    right: -34%;
    bottom: -44%;
  }
  form.write-us {
    flex-direction: column;
  }
  form.write-us button {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 580px) {
  :root {
    font-size: 16px;
  }
  .animated-logo.small {
    width: 28rem;
  }
  .animated-logo.big {
    width: 20rem;
  }

  #scene-bottom-left {
    bottom: -37%;
  }
  #scene-bottom-right {
    bottom: -37%;
  }
  form.write-us input {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    height: 40px;
  }
  form.write-us button {
    font-size: 18px;
    height: 40px;
  }
}

@media (max-width: 480px) {
  h2.title {
    font-size: 3rem;
  }
  div.links-wrapper {
    margin-top: 6.2rem;
  }

  div.links-wrapper a {
    padding: 0 20px;
  }
  div.links-wrapper a img {
    width: 40px;
    height: 40px;
  }
  #scene-top-left {
    left: -65%;
  }
  #scene-top-right {
    right: -65%;
  }
  #scene-bottom-left {
    bottom: -42%;
  }
  #scene-bottom-right {
    bottom: -42%;
  }
}

@media (max-width: 400px) {
  #scene-top-left {
    left: -75%;
  }
  #scene-top-right {
    right: -75%;
  }
  #scene-bottom-left {
    left: -54%;
    bottom: -36%;
  }
  #scene-bottom-right {
    right: -54%;
    bottom: -36%;
  }
}

@media (max-width: 370px) {
  h2.title {
    font-size: 2.5rem;
  }
  p.subtitle {
    font-size: 0.75rem;
  }
}

@media (max-height: 900px) {
  h2.title {
    margin-top: 3rem;
  }
  div.links-wrapper {
    margin-top: 4.5rem;
  }
  form.write-us {
    margin-top: 3rem;
  }
}

@media (max-height: 800px) and (min-width: 100px) {
  h2.title {
    margin-top: 2rem;
  }
  div.links-wrapper {
    margin-top: 4.5rem;
  }
  form.write-us {
    margin-top: 2rem;
  }
  #scene-bottom-left {
    bottom: -73%;
  }
  #scene-bottom-right {
    bottom: -73%;
  }
}
